# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
venv/

# IDE files
.vscode/
.idea/

./token.json
./credentials.json

# node modules
./node_modules


./downloaded-files
./pdf-embeddings